/* This is where the Home.html specific CSS stuff is */
body {  
    background-image: linear-gradient(to top left,#f00,#00f);
    width: 100%;
    height: 100%;
    background-size: cover;
    color:white;
}

#home_body {
    font-family: "Georgia";
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#greeting-container { 
    margin-top: 20px;
}
